.info{
    color: rgba(255, 255, 255, 0.75);
}

.First{
    margin-right: auto;
}

body[dir='rtl'] .First{
    margin-left:auto ;
    margin-right: unset;
}

.second{
    margin-left:auto;

}

body[dir='rtl'] .second{
    margin-right: auto;
    margin-left: unset;
}