

/* one work slider global */

/*#Service-testimonoals{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/



.ServiceTestimonoals .owl-carousel.owl-drag .owl-item{
       display: flex;
    justify-content: center;
}

.ServiceTestimonoals .item {
    margin-top: 60px;
    text-align: start !important;
    margin-bottom: 30px;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
    position: relative;

    /*height: 700px;*/

    width: 80%;
}

.ServiceTestimonoals .item img
{
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.ServiceTestimonoals .owl-item.active.center img
{
    opacity: 1;
}

.ServiceTestimonoals .owl-item.active.center .item {
    transform: scale3d(1.0, 1.0, 1);
}

.ServiceTestimonoals .owl-theme .owl-dots .owl-dot.active span,
.ServiceTestimonoals .owl-theme .owl-dots .owl-dot:hover span {
    background: #0951FE;;
    transform: translate3d(0px, -50%, 0px) scale(0.8);
}

.ServiceTestimonoals .owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ServiceTestimonoals .owl-carousel .owl-dots .owl-dot{
    display: inline-block;
}

.ServiceTestimonoals .owl-carousel .owl-dots .owl-dot span{
    background: #D9D9D9;;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    border-radius: 30px !important;
}

.ServiceTestimonoals .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0;
    top: 0;
}

.ServiceTestimonoals .owl-carousel .owl-nav button.owl-prev span{

    background-color: #0951FE;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 0px 17px 6px 17px;
    font-size: 30px;
    text-align: center;
    vertical-align:center;
}

.ServiceTestimonoals .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 0;
    top: 0;
}

.ServiceTestimonoals .owl-carousel .owl-nav button.owl-next span{
    background-color: #0951FE;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 0px 17px 6px 17px;
    font-size: 30px;
    text-align: center;
    vertical-align:center;
}

.ServiceTestimonoals .owl-theme .owl-nav [class*='owl-']:hover {
    background: none !important;
    text-decoration: none;
}